In [6]:
!pip install quandl

Collecting quandl
  Downloading https://files.pythonhosted.org/packages/47/8c/b61f5c1e9167f4c1c1c2b86991bbbac51a2bd937b36cbc4cc39248dfb2d1/Quandl-3.3.0-py2.py3-none-any.whl
Collecting pyasn1 (from quandl)
  Downloading https://files.pythonhosted.org/packages/a0/70/2c27740f08e477499ce19eefe05dbcae6f19fdc49e9e82ce4768be0643b9/pyasn1-0.4.3-py2.py3-none-any.whl (72kB)
Collecting more-itertools (from quandl)
  Downloading https://files.pythonhosted.org/packages/85/40/90c3b0393e12b9827381004224de8814686e3d7182f9d4182477f600826d/more_itertools-4.2.0-py3-none-any.whl (45kB)
Requirement already satisfied: requests>=2.7.0 in c:\users\nnaaz\appdata\local\continuum\anaconda3\lib\site-packages (from quandl)
Collecting ndg-httpsclient (from quandl)
  Downloading https://files.pythonhosted.org/packages/78/60/1458ed478eb5777498ca57f4fabf2cf9328ac43e5f6db7839cf73704f3a6/ndg_httpsclient-0.5.0-py3-none-any.whl
Requirement already satisfied: numpy>=1.8 in c:\users\nnaaz\appdata\local\continuum\anaconda3\lib\site-packages (from quandl)
Collecting inflection>=0.3.1 (from quandl)
  Downloading https://files.pythonhosted.org/packages/d5/35/a6eb45b4e2356fe688b21570864d4aa0d0a880ce387defe9c589112077f8/inflection-0.3.1.tar.gz
Requirement already satisfied: six in c:\users\nnaaz\appdata\local\continuum\anaconda3\lib\site-packages (from quandl)
Requirement already satisfied: python-dateutil in c:\users\nnaaz\appdata\local\continuum\anaconda3\lib\site-packages (from quandl)
Requirement already satisfied: pyOpenSSL in c:\users\nnaaz\appdata\local\continuum\anaconda3\lib\site-packages (from quandl)
Requirement already satisfied: pandas>=0.14 in c:\users\nnaaz\appdata\local\continuum\anaconda3\lib\site-packages (from quandl)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\nnaaz\appdata\local\continuum\anaconda3\lib\site-packages (from requests>=2.7.0->quandl)
Requirement already satisfied: idna<2.7,>=2.5 in c:\users\nnaaz\appdata\local\continuum\anaconda3\lib\site-packages (from requests>=2.7.0->quandl)
Requirement already satisfied: urllib3<1.23,>=1.21.1 in c:\users\nnaaz\appdata\local\continuum\anaconda3\lib\site-packages (from requests>=2.7.0->quandl)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\nnaaz\appdata\local\continuum\anaconda3\lib\site-packages (from requests>=2.7.0->quandl)
Requirement already satisfied: cryptography>=2.1.4 in c:\users\nnaaz\appdata\local\continuum\anaconda3\lib\site-packages (from pyOpenSSL->quandl)
Requirement already satisfied: pytz>=2011k in c:\users\nnaaz\appdata\local\continuum\anaconda3\lib\site-packages (from pandas>=0.14->quandl)
Requirement already satisfied: asn1crypto>=0.21.0 in c:\users\nnaaz\appdata\local\continuum\anaconda3\lib\site-packages (from cryptography>=2.1.4->pyOpenSSL->quandl)
Requirement already satisfied: cffi>=1.7 in c:\users\nnaaz\appdata\local\continuum\anaconda3\lib\site-packages (from cryptography>=2.1.4->pyOpenSSL->quandl)
Requirement already satisfied: pycparser in c:\users\nnaaz\appdata\local\continuum\anaconda3\lib\site-packages (from cffi>=1.7->cryptography>=2.1.4->pyOpenSSL->quandl)
Building wheels for collected packages: inflection
  Running setup.py bdist_wheel for inflection: started
  Running setup.py bdist_wheel for inflection: finished with status 'done'
  Stored in directory: C:\Users\nNaaz\AppData\Local\pip\Cache\wheels\9f\5a\d3\6fc3bf6516d2a3eb7e18f9f28b472110b59325f3f258fe9211
Successfully built inflection
Installing collected packages: pyasn1, more-itertools, ndg-httpsclient, inflection, quandl
Successfully installed inflection-0.3.1 more-itertools-4.2.0 ndg-httpsclient-0.5.0 pyasn1-0.4.3 quandl-3.3.0

You are using pip version 9.0.1, however version 10.0.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [7]:
import quandl

In [17]:
mydata=quandl.get('EIA/PET_RWTC_D') #Time-series data of crude oil prices from US dept of energy

In [13]:

import matplotlib.pyplot as plt
%matplotlib inline

In [18]:
mydata

            Value
Date
1986-01-02  25.56
1986-01-03  26.00
1986-01-06  26.53
1986-01-07  25.85
1986-01-08  25.87
1986-01-09  26.03
1986-01-10  25.65
1986-01-13  25.08
1986-01-14  24.97
1986-01-15  25.18
1986-01-16  23.98
1986-01-17  23.63
1986-01-20  21.33
1986-01-21  20.61
1986-01-22  20.25
1986-01-23  19.93
1986-01-24  19.45
1986-01-27  20.87
1986-01-28  19.45
1986-01-29  19.61
1986-01-30  19.58
1986-01-31  18.95
1986-02-03  17.42
1986-02-04  15.58
1986-02-05  16.28
1986-02-06  16.60
1986-02-07  17.70
1986-02-10  16.78
1986-02-11  16.28
1986-02-12  15.74
...           ...
2018-04-17  66.50
2018-04-18  68.44
2018-04-19  68.30
2018-04-20  68.26
2018-04-23  67.61
2018-04-24  67.66
2018-04-25  68.00
2018-04-26  68.18
2018-04-27  68.11
2018-04-30  68.56
2018-05-01  67.28
2018-05-02  67.91
2018-05-03  68.45
2018-05-04  69.71
2018-05-07  70.74
2018-05-08  68.83
2018-05-09  71.16
2018-05-10  71.36
2018-05-11  70.69
2018-05-14  71.01
2018-05-15  71.34
2018-05-16  71.43
2018-05-17  71.47
2018-05-18  71.23
2018-05-21  72.26
2018-05-22  72.09
2018-05-23  71.85
2018-05-24  70.77
2018-05-25  67.92
2018-05-29  66.80

[8183 rows x 1 columns]

In [19]:
real_state=quandl.get('ZILLOW/CO47_NFS')

In [20]:
real_state

            Value
Date
2008-06-30  668.0
2008-07-31  725.0
2008-08-31  591.0
2008-09-30  516.0
2008-10-31  566.0
2008-11-30  381.0
2008-12-31  453.0
2009-01-31  276.0
2009-02-28  303.0
2009-03-31  384.0
2009-04-30  428.0
2009-05-31  477.0
2009-06-30  604.0
2009-07-31  615.0
2009-08-31  576.0
2009-09-30  585.0
2009-10-31  552.0
2009-11-30  552.0
2009-12-31  580.0
2010-01-31  356.0
2010-02-28  393.0
2010-03-31  587.0
2010-04-30  592.0
2010-05-31  642.0
2010-06-30  616.0
2010-07-31  477.0
2010-08-31  513.0
2010-09-30  461.0
2010-10-31  489.0
2010-11-30  455.0
...           ...
2013-12-31  577.0
2014-01-31  417.0
2014-02-28  472.0
2014-03-31  506.0
2014-04-30  602.0
2014-05-31  581.0
2014-06-30  530.0
2014-07-31  558.0
2014-08-31  534.0
2014-09-30  512.0
2014-10-31  622.0
2014-11-30  470.0
2014-12-31  478.0
2015-01-31  305.0
2015-02-28  338.0
2015-03-31  466.0
2015-04-30  526.0
2015-05-31  558.0
2015-06-30  551.0
2015-07-31  541.0
2015-08-31  502.0
2015-09-30  407.0
2015-10-31  514.0
2015-11-30  410.0
2015-12-31  513.0
2016-01-31  348.0
2016-02-29  281.0
2016-03-31  418.0
2016-04-30  456.0
2016-05-31  446.0

[96 rows x 1 columns]

In [21]:
wiki_data= quandl.get('WIKI/AAPL')

In [22]:
wiki_data.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
1980-12-12,28.75,28.87,28.75,28.75,2093900.0,0.0,1.0,0.422706,0.424470,0.422706,0.422706,117258400.0
1980-12-15,27.38,27.38,27.25,27.25,785200.0,0.0,1.0,0.402563,0.402563,0.400652,0.400652,43971200.0
1980-12-16,25.37,25.37,25.25,25.25,472000.0,0.0,1.0,0.373010,0.373010,0.371246,0.371246,26432000.0
1980-12-17,25.87,26.00,25.87,25.87,385900.0,0.0,1.0,0.380362,0.382273,0.380362,0.380362,21610400.0
1980-12-18,26.63,26.75,26.63,26.63,327900.0,0.0,1.0,0.391536,0.393300,0.391536,0.391536,18362400.0

In [23]:
wiki_data= quandl.get('WIKI/AAPL.1')
wiki_data

               Open
Date
1980-12-12   28.750
1980-12-15   27.380
1980-12-16   25.370
1980-12-17   25.870
1980-12-18   26.630
1980-12-19   28.250
1980-12-22   29.630
1980-12-23   30.880
1980-12-24   32.500
1980-12-26   35.500
1980-12-29   36.000
1980-12-30   35.250
1980-12-31   34.250
1981-01-02   34.500
1981-01-05   33.870
1981-01-06   32.370
1981-01-07   31.000
1981-01-08   30.370
1981-01-09   31.880
1981-01-12   31.880
1981-01-13   30.630
1981-01-14   30.630
1981-01-15   31.250
1981-01-16   31.120
1981-01-19   32.870
1981-01-20   32.000
1981-01-21   32.500
1981-01-22   32.870
1981-01-23   32.870
1981-01-26   32.370
...             ...
2018-02-13  161.950
2018-02-14  163.045
2018-02-15  169.790
2018-02-16  172.360
2018-02-20  172.050
2018-02-21  172.830
2018-02-22  171.800
2018-02-23  173.670
2018-02-26  176.350
2018-02-27  179.100
2018-02-28  179.260
2018-03-01  178.540
2018-03-02  172.800
2018-03-05  175.210
2018-03-06  177.910
2018-03-07  174.940
2018-03-08  175.480
2018-03-09  177.960
2018-03-12  180.290
2018-03-13  182.590
2018-03-14  180.320
2018-03-15  178.500
2018-03-16  178.650
2018-03-19  177.320
2018-03-20  175.240
2018-03-21  175.040
2018-03-22  170.000
2018-03-23  168.390
2018-03-26  168.070
2018-03-27  173.680

[9400 rows x 1 columns]