In [19]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
%matplotlib inline
os.chdir("C:\Work_NN\PythonDirectory\Juuls_Analysis")

In [138]:
df_cig=pd.read_csv('cigarette_sales.csv')
#df_cig1=df_cig.drop(columns='Customer Group')
df_cig.head()

  Cust Segment Cur       Customer Group  CustID       CustName    CNP_cig
0  National Chains  CSTORE-OVER 800SQFT   10012  SPEEDWAY 4362  168977.50
1  National Chains  CSTORE-OVER 800SQFT   10026  SPEEDWAY 8887  103766.19
2  National Chains  CSTORE-OVER 800SQFT   10027  SPEEDWAY 3626   42435.06
3  National Chains  CSTORE-OVER 800SQFT   10053  SPEEDWAY 4044   82165.89
4  National Chains  CSTORE-OVER 800SQFT   10071  SPEEDWAY 4043   43710.79

In [121]:
df_cig.shape #customers who are buying cigarettes

(8412, 5)

In [122]:
df_cig.nunique()

Cust Segment Cur       4
Customer Group         9
CustID              8402
CustName            8163
CNP_cig             8382
dtype: int64

In [73]:
ids=df_cig['CustID']

,Cust Segment Cur,Customer Group,CustID,CustName,CNP_cig
4413,Independents,CSTORE-OVER 800SQFT,27682,FREEDOM EXPRESS #5,22532.06
7569,Independents,CSTORE-UNDER 800SQFT,27682,FREEDOM EXPRESS #5,22172.14
8038,Independents,LIQUOR STORE,34856,DUFFYS BEER,39103.93
8040,Independents,LIQUOR STORE,34902,COLONIAL BEER SOFT DRNK,10966.50
8045,Independents,LIQUOR STORE,34964,BEER ON BUTLER,9631.64
8052,Independents,LIQUOR STORE,35265,ATKINSON BEER DISTRIBUTOR,1584.17
8055,Independents,LIQUOR STORE,35279,BANKSVILLE BEER,8662.94
8058,Independents,LIQUOR STORE,35283,BEER EXPRESS,3368.81
8068,Independents,LIQUOR STORE,35339,DUQUESNE DIST INDIANA,2945.37
8071,Independents,LIQUOR STORE,35373,HARMONY DIST,14882.60
8077,Independents,LIQUOR STORE,35499,SUDSYS BEER,6382.90
8402,Independents,VENDOR-WHOLESALER WI,34856,DUFFYS BEER,1318.06
8403,Independents,VENDOR-WHOLESALER WI,34902,COLONIAL BEER SOFT DRNK,665.40
8404,Independents,VENDOR-WHOLESALER WI,34964,BEER ON BUTLER,162.56
8405,Independents,VENDOR-WHOLESALER WI,35265,ATKINSON BEER DISTRIBUTOR,76.73
8406,Independents,VENDOR-WHOLESALER WI,35279,BANKSVILLE BEER,549.62
8407,Independents,VENDOR-WHOLESALER WI,35283,BEER EXPRESS,230.19
8408,Independents,VENDOR-WHOLESALER WI,35339,DUQUESNE DIST INDIANA,76.73
8409,Independents,VENDOR-WHOLESALER WI,35373,HARMONY DIST,1117.75
8410,Independents,VENDOR-WHOLESALER WI,35499,SUDSYS BEER,76.73

In [139]:
df_cig1 = df_cig.groupby(['CustID','CustName','Cust Segment Cur','Customer Group']).sum()
df_cig1.head()

                                                             CNP_cig
CustID CustName      Cust Segment Cur Customer Group
10000  TOWNE CLUB    Independents     CSTORE-OVER 800SQFT   11261.99
10010  DEXTER MOBIL  Independents     CSTORE-OVER 800SQFT      -2.86
10011  KMA OIL #3    Plant Chains     CSTORE-OVER 800SQFT   29715.03
10012  SPEEDWAY 4362 National Chains  CSTORE-OVER 800SQFT  168977.50
10016  COUNTRY ACRES Independents     CSTORE-OVER 800SQFT    2289.49

In [140]:
df_juul=pd.read_csv('juuls_sales.csv')
df_juul.head()
print (df_juul.shape)

(2625, 6)

In [141]:
df_juul.nunique()

Manufacturer Cur       1
Cust Segment Cur       5
Customer Group         7
CustID              2625
CustName            2610
CNP_juul            1458
dtype: int64

In [142]:
df_cig1.reset_index(inplace=True)
df_cig1.head()

   CustID       CustName Cust Segment Cur       Customer Group    CNP_cig
0   10000     TOWNE CLUB     Independents  CSTORE-OVER 800SQFT   11261.99
1   10010   DEXTER MOBIL     Independents  CSTORE-OVER 800SQFT      -2.86
2   10011     KMA OIL #3     Plant Chains  CSTORE-OVER 800SQFT   29715.03
3   10012  SPEEDWAY 4362  National Chains  CSTORE-OVER 800SQFT  168977.50
4   10016  COUNTRY ACRES     Independents  CSTORE-OVER 800SQFT    2289.49

In [126]:
df_cig.shape

(8412, 5)

In [143]:
df_test1= pd.merge(df_cig1,df_juul[['CustID','CNP_juul']],on='CustID',how='left')
df_test1.shape

(8412, 6)

In [144]:
df_test1

,CustID,CustName,Cust Segment Cur,Customer Group,CNP_cig,CNP_juul
0,10000,TOWNE CLUB,Independents,CSTORE-OVER 800SQFT,11261.99,NaN
1,10010,DEXTER MOBIL,Independents,CSTORE-OVER 800SQFT,-2.86,NaN
2,10011,KMA OIL #3,Plant Chains,CSTORE-OVER 800SQFT,29715.03,505.44
3,10012,SPEEDWAY 4362,National Chains,CSTORE-OVER 800SQFT,168977.50,4736.10
4,10016,COUNTRY ACRES,Independents,CSTORE-OVER 800SQFT,2289.49,NaN
5,10019,CORNER TOBACCO MART,Independents,CSTORE-OVER 800SQFT,38688.37,NaN
6,10026,SPEEDWAY 8887,National Chains,CSTORE-OVER 800SQFT,103766.19,2029.88
7,10027,SPEEDWAY 3626,National Chains,CSTORE-OVER 800SQFT,42435.06,947.22
8,10032,BROWNS MARKET PLACE #1200,Independents,CSTORE-OVER 800SQFT,43672.04,NaN
9,10034,SMOKERS DEPOT #4,Independents,TOBACCO OUTLET,54375.26,NaN
10,10036,COUNTRY STORE,Independents,CSTORE-OVER 800SQFT,15495.58,NaN
11,10053,SPEEDWAY 4044,National Chains,CSTORE-OVER 800SQFT,82165.89,1443.42
12,10059,KINGS PARTY STORE,Independents,LIQUOR STORE,51912.77,NaN
13,10060,SHARRAK PETRO-CLARK,Independents,CSTORE-OVER 800SQFT,15178.85,78.96
14,10062,GHAFARI FEATERSTONE,Independents,CSTORE-OVER 800SQFT,33577.54,NaN
15,10065,SAW DUST CORNER,Independents,CSTORE-OVER 800SQFT,50821.87,NaN
16,10071,SPEEDWAY 4043,National Chains,CSTORE-OVER 800SQFT,43710.79,907.74
17,10075,WESTSIDE SHELL,Independents,CSTORE-OVER 800SQFT,6670.32,NaN
18,10076,SPEEDWAY 4046,National Chains,CSTORE-OVER 800SQFT,58900.82,962.41
19,10077,D M FRANCHISE # 5449,Independents,CSTORE-OVER 800SQFT,26831.77,NaN
20,10084,PONTIAC&HAGGERTY FUEL,Independents,CSTORE-OVER 800SQFT,14882.79,180.48
21,10085,SUNRISE CONV #32,Plant Chains,CSTORE-OVER 800SQFT,82264.34,NaN
22,10099,CUSTER PARTY STORE,Independents,CSTORE-OVER 800SQFT,2545.05,NaN
23,10102,JERRY S,Independents,CSTORE-OVER 800SQFT,11423.04,NaN
24,10114,LAKE LANSING MOBIL,Independents,CSTORE-UNDER 800SQFT,19712.07,NaN
25,10129,HATCHERY MARKET,Independents,CSTORE-OVER 800SQFT,30551.70,NaN
26,10134,J & S LAKEPOINTE,Plant Chains,CSTORE-OVER 800SQFT,31878.30,NaN
27,10138,MAF ENTERPRISES (BP),Independents,CSTORE-OVER 800SQFT,1055.47,NaN
28,10159,GHAFARI MOBIL,Independents,CSTORE-OVER 800SQFT,35574.02,NaN
29,10160,SHARRAK CONVENIENCE,Independents,CSTORE-OVER 800SQFT,45929.69,1721.47
...,...,...,...,...,...,...
8382,36346,KALAMAZOO SUNOCO,Independents,CSTORE-OVER 800SQFT,19873.45,NaN
8383,36347,MOUNT HOPE SUNOCO,Independents,CSTORE-OVER 800SQFT,8203.17,NaN
8384,36348,GRAND RIVER MARATHON,Independents,CSTORE-OVER 800SQFT,14836.35,NaN
8385,36352,JIMMYS COUNTRY MARKET 16,Independents,CSTORE-OVER 800SQFT,11428.85,NaN
8386,36353,PHILLIPS 66 FOOD MART,Independents,CSTORE-OVER 800SQFT,15887.71,NaN
8387,36354,SATE LEWIS RUN,Independents,CSTORE-UNDER 800SQFT,1905.56,NaN
8388,36356,RITE SHOP DELI & MARKET,Independents,CSTORE-UNDER 800SQFT,14080.57,NaN
8389,36357,MONTANA BP,Independents,CSTORE-OVER 800SQFT,6482.83,NaN
8390,36358,MOKENA MART,Independents,CSTORE-OVER 800SQFT,7458.40,NaN
8391,36361,FISHTAIL LLC DBA COMMERCIAL PETRO,Independents,CSTORE-OVER 800SQFT,16782.51,874.83
8392,36362,FISHTAIL LLC DBA FOX POINT PETRO,Independents,CSTORE-OVER 800SQFT,20622.15,874.83
8393,36363,FISHTAIL LLC DBA WITZEL PETRO,Independents,CSTORE-OVER 800SQFT,18774.85,874.83
8394,36364,TRUE LIQUOR INC,Independents,LIQUOR STORE,10387.05,NaN
8395,36370,KWIK CHEK,Independents,CSTORE-OVER 800SQFT,7696.82,NaN
8396,36374,1019 PETRO INC,Independents,CSTORE-OVER 800SQFT,5844.89,NaN
8397,36379,DICKERSON RD CITGO,Independents,CSTORE-OVER 800SQFT,15234.61,NaN
8398,36381,SK SMOKE & BEVERAGE,Independents,CSTORE-OVER 800SQFT,333.28,NaN
8399,36383,SUN MART LLC,Independents,CSTORE-UNDER 800SQFT,5927.14,134.85
8400,36384,VEER INC DBA RURAL PANTRY,Independents,CSTORE-OVER 800SQFT,12111.43,NaN
8401,36385,AZARA HOOKAH ZONE LLC,Independents,TOBACCO OUTLET,2110.38,793.61
8402,36387,VEVAY FOOD MART,Independents,CSTORE-OVER 800SQFT,1024.12,311.42
8403,36389,OGDEN WINE & SPIRIT,Independents,LIQUOR STORE,3578.30,NaN
8404,36398,LIVINGSTON SHELL,Independents,CSTORE-OVER 800SQFT,14242.06,NaN
8405,36399,US FOOD MART,Independents,CSTORE-OVER 800SQFT,13945.16,NaN
8406,36400,SMOKE PLUS 5,Independents,CSTORE-OVER 800SQFT,6382.73,NaN
8407,36401,NEW MONROVIA MART,Independents,CSTORE-OVER 800SQFT,6648.29,NaN
8408,36404,MUNSTER FOOD MART,Independents,CSTORE-OVER 800SQFT,11192.47,NaN
8409,36409,MAN PETROLEUM,Independents,CSTORE-OVER 800SQFT,20899.74,NaN
8410,36410,KIM PETRO,Independents,CSTORE-OVER 800SQFT,3123.05,NaN
8411,36414,MANCHESTER SHELL,Independents,CSTORE-OVER 800SQFT,3758.50,663.58

In [97]:
df_cigNoJul=df_test1[df_test1['CNP_juul'.isNull()]

SyntaxError: unexpected EOF while parsing (<ipython-input-97-0f795707a50b>, line 1)

In [145]:
df_cigNoJul =df_test1[pd.isnull(df_test1['CNP_juul'])]

In [146]:
df_cigNoJul.shape

(5814, 6)

In [147]:
writer = pd.ExcelWriter('NoJuul_Cigarette.xlsx')
df_cigNoJul.to_excel(writer,'Nojul')
writer.save()

In [148]:
df_otp=pd.read_csv('OTP_sales.csv')
#df_otp1=df_otp.drop(columns='Customer Group')
df_otp.head()

  Cust Segment Cur       Customer Group  CustID       CustName   CNP_otp
0  National Chains  CSTORE-OVER 800SQFT   10012  SPEEDWAY 4362  13055.39
1  National Chains  CSTORE-OVER 800SQFT   10026  SPEEDWAY 8887  16207.50
2  National Chains  CSTORE-OVER 800SQFT   10027  SPEEDWAY 3626   9735.14
3  National Chains  CSTORE-OVER 800SQFT   10053  SPEEDWAY 4044  13149.30
4  National Chains  CSTORE-OVER 800SQFT   10071  SPEEDWAY 4043   7715.79

In [149]:
df_otp.shape

(8146, 5)

In [150]:
df_otp.nunique()

Cust Segment Cur       5
Customer Group         9
CustID              8138
CustName            7917
CNP_otp             8083
dtype: int64

In [152]:
df_otp1 = df_otp.groupby(['CustID','CustName','Cust Segment Cur','Customer Group']).sum()
df_otp1.head()

                                                            CNP_otp
CustID CustName      Cust Segment Cur Customer Group
10000  TOWNE CLUB    Independents     CSTORE-OVER 800SQFT   4225.77
10010  DEXTER MOBIL  Independents     CSTORE-OVER 800SQFT    268.50
10011  KMA OIL #3    Plant Chains     CSTORE-OVER 800SQFT   8440.15
10012  SPEEDWAY 4362 National Chains  CSTORE-OVER 800SQFT  13055.39
10016  COUNTRY ACRES Independents     CSTORE-OVER 800SQFT    258.13

In [153]:
df_otp1.reset_index(inplace=True)
df_otp1.head()

   CustID       CustName Cust Segment Cur       Customer Group   CNP_otp
0   10000     TOWNE CLUB     Independents  CSTORE-OVER 800SQFT   4225.77
1   10010   DEXTER MOBIL     Independents  CSTORE-OVER 800SQFT    268.50
2   10011     KMA OIL #3     Plant Chains  CSTORE-OVER 800SQFT   8440.15
3   10012  SPEEDWAY 4362  National Chains  CSTORE-OVER 800SQFT  13055.39
4   10016  COUNTRY ACRES     Independents  CSTORE-OVER 800SQFT    258.13

In [154]:
df_test2= pd.merge(df_otp1,df_juul[['CustID','CNP_juul']],on='CustID',how='left')
df_test2.shape

(8146, 6)

In [155]:
df_otpNoJul =df_test2[pd.isnull(df_test2['CNP_juul'])]
df_otpNoJul.shape

(5521, 6)

In [157]:
writer = pd.ExcelWriter('NoJuul_OTP.xlsx')
df_otpNoJul.to_excel(writer,'NoJuul_OTP')
writer.save()

In [169]:
df_nootp=pd.read_csv('NoJuul_OTP.csv')
#df_nootp.drop(columns='CNP_juul',inplace=True)
df_nocig=pd.read_csv('NoJuul_Cigarette.csv')
#df_nocig.drop(columns='CNP_juul',inplace=True)
print (df_nootp.shape)
print (df_nocig.shape)

(5521, 5)
(5814, 5)

In [170]:
#df_nootp.reset_index(inplace=True)
df_nootp.head()

,CustID,CustName,Cust Segment Cur,Customer Group,CNP_otp
0,10000,TOWNE CLUB,Independents,CSTORE-OVER 800SQFT,4225.77
1,10010,DEXTER MOBIL,Independents,CSTORE-OVER 800SQFT,268.50
2,10016,COUNTRY ACRES,Independents,CSTORE-OVER 800SQFT,258.13
3,10019,CORNER TOBACCO MART,Independents,CSTORE-OVER 800SQFT,10283.21
4,10032,BROWNS MARKET PLACE #1200,Independents,CSTORE-OVER 800SQFT,4105.26

In [171]:
df_nocig.head()

,CustID,CustName,Cust Segment Cur,Customer Group,CNP_cig
0,10000,TOWNE CLUB,Independents,CSTORE-OVER 800SQFT,11261.99
1,10010,DEXTER MOBIL,Independents,CSTORE-OVER 800SQFT,-2.86
2,10016,COUNTRY ACRES,Independents,CSTORE-OVER 800SQFT,2289.49
3,10019,CORNER TOBACCO MART,Independents,CSTORE-OVER 800SQFT,38688.37
4,10032,BROWNS MARKET PLACE #1200,Independents,CSTORE-OVER 800SQFT,43672.04

In [172]:
df_nocigg1=df_nocig.groupby(['Customer Group','Cust Segment Cur']).sum()
df_nocigg1.head()

                                         CustID      CNP_cig
Customer Group       Cust Segment Cur
CSTORE-OVER 800SQFT  Corporate Chains  14197699  36608776.47
                     Independents      96205680  87749142.24
                     National Chains    1513079   6730816.27
                     Plant Chains      12637868  24074449.87
CSTORE-UNDER 800SQFT Corporate Chains    287900    247186.73

In [175]:
df_nocigg1['meanSales']=df_nocig.groupby(['Customer Group','Cust Segment Cur'])['CNP_cig'].mean()

In [176]:
df_nocigg1.head()

                                         CustID      CNP_cig     meanSales
Customer Group       Cust Segment Cur
CSTORE-OVER 800SQFT  Corporate Chains  14197699  36608776.47  62048.773678
                     Independents      96205680  87749142.24  26366.929760
                     National Chains    1513079   6730816.27  64103.012095
                     Plant Chains      12637868  24074449.87  46119.635766
CSTORE-UNDER 800SQFT Corporate Chains    287900    247186.73  27465.192222

In [177]:
writer = pd.ExcelWriter('NoJuul_OTP_meansales.xlsx')
df_nocigg1.to_excel(writer,'NoJuul_OTPMean')
writer.save()

In [179]:
df_nootp1=df_nootp.groupby(['Customer Group','Cust Segment Cur']).sum()
df_nootp1['meanSales']=df_nootp.groupby(['Customer Group','Cust Segment Cur'])['CNP_otp'].mean()
df_nootp1.head()

                                         CustID     CNP_otp    meanSales
Customer Group       Cust Segment Cur
CSTORE-OVER 800SQFT  Corporate Chains  14251354  4558684.09  7739.701341
                     Independents      91296518  9216047.69  2918.317825
                     National Chains    1513079   597454.70  5690.044762
                     Plant Chains      13162242  3916944.75  7044.864658
CSTORE-UNDER 800SQFT Corporate Chains    287900    70962.52  7884.724444

In [180]:
writer = pd.ExcelWriter('NoJuul_OTP_meansales.xlsx')
df_nootp1.to_excel(writer,'NoJuul_OTPMean')
writer.save()

In [184]:
df_juul.head()

,Manufacturer Cur,Cust Segment Cur,Customer Group,CustID,CustName,CNP_juul
0,JUUL LABS INC,National Chains,CSTORE-OVER 800SQFT,10012,SPEEDWAY 4362,4736.10
1,JUUL LABS INC,National Chains,CSTORE-OVER 800SQFT,10026,SPEEDWAY 8887,2029.88
2,JUUL LABS INC,National Chains,CSTORE-OVER 800SQFT,10027,SPEEDWAY 3626,947.22
3,JUUL LABS INC,National Chains,CSTORE-OVER 800SQFT,10053,SPEEDWAY 4044,1443.42
4,JUUL LABS INC,National Chains,CSTORE-OVER 800SQFT,10071,SPEEDWAY 4043,907.74

In [186]:
df_juul.groupby(['Cust Segment Cur','Customer Group'])['CNP_juul'].describe()

                                        count           mean          std  \
Cust Segment Cur Customer Group
Corporate Chains CSTORE-OVER 800SQFT     88.0    2498.071591  3057.035402
Independents     CSTORE-OVER 800SQFT    671.0    1211.291982  2075.939951
                 CSTORE-UNDER 800SQFT    71.0    1386.798732  2291.399800
                 LIQUOR STORE            17.0     618.432353   810.842831
                 TOBACCO OUTLET          70.0    1299.231429  2078.903538
                 VENDOR-WHOLESALER NO     1.0  370785.950000          NaN
                 VENDOR-WHOLESALER WI     4.0   19758.305000  9355.326095
Miscellaneous    EBY INTERNAL ACCOUNT     1.0     225.600000          NaN
National Chains  CSTORE-OVER 800SQFT   1459.0    2250.867697  2040.393332
                 CSTORE-UNDER 800SQFT     1.0     526.190000          NaN
Plant Chains     CSTORE-OVER 800SQFT    214.0    1412.593785  2178.477303
                 CSTORE-UNDER 800SQFT     1.0     953.000000          NaN
                 LIQUOR STORE             2.0       8.630000   102.657762
                 TOBACCO OUTLET          23.0     789.757826   959.438036
                 VENDOR-WHOLESALER WI     2.0    3890.440000  5357.295533

                                             min          25%         50%  \
Cust Segment Cur Customer Group
Corporate Chains CSTORE-OVER 800SQFT      -83.33     787.0500    1357.945
Independents     CSTORE-OVER 800SQFT     -552.30     277.9200     631.680
                 CSTORE-UNDER 800SQFT    -245.67     243.6600     568.540
                 LIQUOR STORE              81.22     114.8600     286.500
                 TOBACCO OUTLET            81.78     269.1875     555.395
                 VENDOR-WHOLESALER NO  370785.95  370785.9500  370785.950
                 VENDOR-WHOLESALER WI   11370.24   12330.3600   18434.345
Miscellaneous    EBY INTERNAL ACCOUNT     225.60     225.6000     225.600
National Chains  CSTORE-OVER 800SQFT     -478.89     879.6450    1593.760
                 CSTORE-UNDER 800SQFT     526.19     526.1900     526.190
Plant Chains     CSTORE-OVER 800SQFT     -307.02     536.1300     682.530
                 CSTORE-UNDER 800SQFT     953.00     953.0000     953.000
                 LIQUOR STORE             -63.96     -27.6650       8.630
                 TOBACCO OUTLET            -9.14     162.4400     373.690
                 VENDOR-WHOLESALER WI     102.26    1996.3500    3890.440

                                              75%        max
Cust Segment Cur Customer Group
Corporate Chains CSTORE-OVER 800SQFT     3389.115   16783.66
Independents     CSTORE-OVER 800SQFT     1303.165   32074.56
                 CSTORE-UNDER 800SQFT    1608.335   12772.19
                 LIQUOR STORE             772.320    3048.30
                 TOBACCO OUTLET          1344.245   13923.28
                 VENDOR-WHOLESALER NO  370785.950  370785.95
                 VENDOR-WHOLESALER WI   25862.290   30794.29
Miscellaneous    EBY INTERNAL ACCOUNT     225.600     225.60
National Chains  CSTORE-OVER 800SQFT     3046.465   16674.89
                 CSTORE-UNDER 800SQFT     526.190     526.19
Plant Chains     CSTORE-OVER 800SQFT     1489.520   17035.45
                 CSTORE-UNDER 800SQFT     953.000     953.00
                 LIQUOR STORE              44.925      81.22
                 TOBACCO OUTLET           989.750    3341.65
                 VENDOR-WHOLESALER WI    5784.530    7678.62